.layout {
  min-height: 100vh;
  background: #f8fafc;
}

.layout-content {
  display: flex;
  padding-top: 60px;
}

.main-content {
  flex: 1;
  /* padding: 1rem; */
}

.content-wrapper {
  flex: 1;
}

/* Desktop */
/* @media (min-width: 768px) {
  .main-content {
    margin-left: 250px; 
  }
} */

/* Tablet and Mobile */
@media (max-width: 767px) {
  .main-content {
    margin-left: 0;
  }
}
